* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* ------- HEADER ------- */

header {
    width: 100%;
    height: 80px; 
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
}

/* Torna a div inteira clicável */
.header-link {
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Mantém a cor original do texto */
    display: flex; /* Garante que o link não quebre o layout */
}

.header-title {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer; /* Indica que é clicável */
}

.header-logo {
    width: 40px; 
    height: auto; 
}

/* Efeito de hover */
.header-link:hover .header-title {
    text-decoration: underline; /* Efeito ao passar o mouse */
}

/* ------- FOOTER ------- */

.footer {
    background-color: #2f2f2f; 
    color: white;
    text-align: center; 
    padding: 20px; 
    font-size: 20px; 
    border-top: 4px solid #007BFF;
}

.footer .footer-link {
    color: #007BFF; 
    text-decoration: none; 
}

.footer .footer-link:hover {
    color: #00c3ff; 
}