<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Página base {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- HEADER -->
    <header>
        <a href="{{ url_for('main.home_page') }}" class="header-link">
            <div class="header-content">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="header logo" class="header-logo">
                <h1 class="header-title">SEGMENTADOR DE IMAGENS</h1>
            </div>
        </a>
    </header>

    <!-- CONTEÚDO DA PÁGINA -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>Projeto de Iniciação Científica PIBIC</p>
        <p>
            Desenvolvido por <a href="https://github.com/joao-victor-costa-gomes/" class="footer-link" target="_blank">João Victor da Costa Gomes</a>
        </p>
        <p>
            Confira o <a href="https://github.com/joao-victor-costa-gomes/Image-Segmentation-Site" class="footer-link" target="_blank">repositório</a> original do projeto
        </p>
    </footer>
</body>
</html>