{% extends "base.html" %}

{% block title %} Segmentador de Imagens {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <!-- SERVICES -->
    <section id="services-section" class="services-section">
        <h2 class="section-title">Selecione o método de segmentação</h2>

        <div class="card-container">
            <!-- Card 1 -->
            <a class="card" href="{{ url_for('main.threshold_page') }}">
                <img src="{{ url_for('static', filename='images/thresholding.png') }}" alt="limiarizacao" class="card-image">
                <div class="card-title">LIMIARIZAÇÃO</div>
            </a> 

            <!-- Card 2 -->
            <a class="card" href="{{ url_for('main.canny_edge_page') }}">
                <img src="../static/images/canny_edge.png" alt="baseada em bordas" class="card-image">
                <div class="card-title">BASEADA EM BORDAS</div>
            </a> 

            <!-- Card 3 -->
            <a class="card" href="{{ url_for('main.region_based_page') }}">
                <img src="../static/images/region_based.png" alt="baseada em região" class="card-image">
                <div class="card-title">BASEADA EM REGIÃO</div>
            </a> 

            <!-- Card 4 -->
            <a class="card" href="{{ url_for('main.clustering_based_page') }}">
                <img src="../static/images/clustering.png" alt="baseada em clustering"class="card-image">
                <div class="card-title">BASEADA EM CLUSTERING</div>
            </a> 

            <!-- Card 5 -->
            <a class="card" href="#">
                <img src="../static/images/placeholder.png" alt="watershed" class="card-image">
                <div class="card-title">WATERSHED</div>
            </a> 

            <!-- Card 6 -->
            <a class="card" href="{{ url_for('main.color_based_page') }}">
                <img src="../static/images/placeholder.png" alt="baseada em cores" class="card-image">
                <div class="card-title">BASEADA EM CORES</div>
            </a> 

            <!-- Card 7 -->
            <a class="card" href="#">
                <img src="../static/images/placeholder.png" alt="mask r-cnn" class="card-image">
                <div class="card-title">SEGMENTAÇÃO COM MASK-RCNN</div>
            </a> 

            <!-- Card 8 -->
            <a class="card" href="#">
                <img src="../static/images/placeholder.png" alt="panóptica" class="card-image">
                <div class="card-title">SEGMENTAÇÃO PANÓPTICA</div>
            </a> 
        </div>
    </section>
{% endblock %}