<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Segmentator</title>

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">

    <link rel="icon" href="../static/images/icon.png" type="image/png">
</head>

<body>

    <!-- HEADER -->
    <header>
        <div class="header-content">
            <img src="../static/images/logo.png" alt="site logo" class="header-logo">
            <h1>
                <a href="{{ url_for('home') }}" class="home-title">SEGMENTADOR DE IMAGENS</a>
            </h1>
        </div>
    </header>

    <!-- HOME -->
    <section id="home-section" class="home-section"> 

        <h2 class="section-title">Como funciona o segmentador</h2>

        <p>O Segmentador de Imagens é um programa para separar e destacar diferentes partes de uma imagem através da aplicação de métodos de segmentação. Por exemplo, ela pode ser usada para identificar objetos, áreas ou cores específicas dentro de uma foto. <strong>Selecione um dos métodos de segmentação abaixo e em seguida faça o upload da imagem que você deseja segmentar</strong>.</p>

        <p>
            <span class="obs">Observação:</span>Alguns dos métodos exigem muito mais processamento de máquina do que outros, então pode levar algum tempo para processar a imagem fornecida. No momento, você pode fazer o upload de imagens no formato <strong>PNG</strong> ou <strong>JPG</strong>. O tamanho máximo do arquivo para envio é <strong>16 MB</strong>.
        </p>

        <a href="#services-section" class="btn">SEGMENTE UMA IMAGEM</a>
    </section>
    
    <!-- SERVICES -->
    <section id="services-section" class="services-section">
        <h2 class="section-title">Selecione o método de segmentação</h2>

        <div class="card-container">

            <!-- Card 1 -->
            <a class="card" href="{{ url_for('threshold') }}">
                <img src="../static/images/thresholdingB.png" alt="limiarizacao" class="card-image">
                <div class="card-title">LIMIARIZAÇÃO</div>
            </a> 

            <!-- Card 2 -->
            <a class="card">
                <img src="../static/images/placeholder.png" alt="baseada em bordas" class="card-image">
                <div class="card-title">BASEADA EM BORDAS</div>
            </a> 

            <!-- Card 3 -->
            <a class="card">
                <img src="../static/images/placeholder.png" alt="baseada em região" class="card-image">
                <div class="card-title">BASEADA EM REGIÃO</div>
            </a> 

            <!-- Card 4 -->
            <a class="card">
                <img src="../static/images/placeholder.png" alt="baseada em clustering"class="card-image">
                <div class="card-title">BASEADA EM CLUSTERING</div>
            </a> 

            <!-- Card 5 -->
            <a class="card">
                <img src="../static/images/placeholder.png" alt="watershed" class="card-image">
                <div class="card-title">WATERSHED</div>
            </a> 

            <!-- Card 6 -->
            <a class="card">
                <img src="../static/images/placeholder.png" alt="baseada em cores" class="card-image">
                <div class="card-title">BASEADA EM CORES</div>
            </a> 

        </div>
        
    </section>    
    
    <!-- FOOTER -->
    <footer class="footer">
        <p>Projeto de Iniciação Científica PIBIC</p>
        <p>
            Desenvolvido por <a href="https://github.com/joao-victor-costa-gomes/" class="footer-link" target="_blank">João Victor da Costa Gomes</a>
        </p>
        <p>
            Confira o <a href="https://github.com/joao-victor-costa-gomes/Image-Segmentation-Site" class="footer-link" target="_blank">repositório</a> original do projeto
        </p>
    </footer>

</body>

</html>