{% extends "base.html" %}

{% block title %} Segmentação de Instância {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/segmentation.css') }}">
{% endblock %}

{% block content %}

    <section class="segmentation_page_section">

        <h2 class="page_title">Segmentação de Instância</h2>

        <!-- Se nenhuma imagem for enviada, carregar primeiro formulário, se não, carregar o segundo -->
        {% if filename %}

        <!-- Container principal das duas seções -->
        <div class="segmentation-container">

            <div class="left-section">
                <h3 class="page_subtitle">Imagem enviada</h3>
                <img src="{{ url_for('main.uploaded_file_path', filename=filename) }}" alt="Imagem Enviada" width="400">

                <!-- Botão para "remover" (resetar o estado da página) -->
                <div class="remove-button-container">
                    <form action="{{ url_for('main.instance_segmentation_page') }}" method="GET" style="margin-top: 10px;">
                        <button type="submit" class="remove-btn">❌</button>
                    </form>
                </div>
            </div>

            <div class="right-section">
                <!-- Segundo formulário: Envio de parâmetros -->
                <h3 class="page_subtitle">Parâmetros de segmentação</h3>
                <form action="#page_title" method="POST" id='apply_area'>
                    <input type="hidden" name="filename" value="{{ filename }}">

                    <div class="input-group">
                        <label for="confidence_threshold">Limiar de Confiabilidade:</label>
                        <input type="number" name="confidence_threshold" id="confidence_threshold" value="0.7" min="0.1" max="1.0" step="0.1" required>
                    </div>                    

                    <div class="input-group">
                        <label for="device">Dispositivo:</label>
                        <select name="device" id="device" required>
                            <option value="cpu">CPU</option>
                            <option value="gpu">GPU</option>
                        </select>
                    </div>
                    
                    <button type="submit" name="apply_instance_segmentation" >Aplicar Segmentação</button>
                </form>
            </div>
        </div>

        {% else %}

        <!-- Primeiro formulário: Upload da imagem -->
        <form id="upload-form" action="{{ url_for('main.instance_segmentation_page') }}" method="POST" enctype="multipart/form-data">
            <label id="drop-area" class="upload-box">
                <input type="file" id="file-input" name="image" accept="image/png, image/jpeg" hidden>
                <img src="{{ url_for('static', filename='images/upload_icon.png') }}" alt="Upload Icon" class="upload-icon">
                <p>Arraste e solte a imagem aqui ou clique para selecionar</p>
            </label> 
        </form>

        {% endif %}

        <!-- Imagens segmentadas resultado da segmentação-->
        {% if segmented_filenames %}
        <div id="horizontal-line" class="horizontal-line"></div>

        <h2 id="page_title" class="page_title">Resultado da Segmentação</h2>
        

        <div class="segmentation-results">
            {% for segmented in segmented_filenames %}
                <div class="segmented-item">
                    <p><strong>{{ segmented.method }}</strong></p>
                    <a href="{{ url_for('main.processed_file_path', filename=segmented.filename) }}" target="_blank">
                        <img src="{{ url_for('main.processed_file_path', filename=segmented.filename) }}" alt="Imagem Segmentada">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div id="horizontal-line" class="horizontal-line"></div>

        <h2 id="page_title" class="page_title">Dados da Segmentação</h2>

        <div class="data-section">

            <div class="data-box">
                <div class="data-box-title">Classes Detectadas</div>
                <p><strong>célula</strong> : 28</p>
                <p><strong>célula</strong> : 28</p>
                <p><strong>célula</strong> : 28</p>
                <p><strong>célula</strong> : 28</p>
                <p><strong>célula</strong> : 28</p>
            </div>
        
            <div class="data-box">
                <div class="data-box-title">Área por Classe</div>
                <p><strong>célula</strong> : 32.8%</p>
                <p><strong>célula</strong> : 32.8%</p>
                <p><strong>célula</strong> : 32.8%</p>
            </div>
        
            <div class="data-box">
                <div class="data-box-title">Instâncias</div>
                <p> <strong>classe</strong> : célula, <strong>confiança</strong> : 0.92, <strong>área</strong> : 1125, <strong>bbox</strong>: [320, 320, 320, 320]</p>
                <p> <strong>classe</strong> : célula, <strong>confiança</strong> : 0.92, <strong>área</strong> : 1125, <strong>bbox</strong>: [320, 320, 320, 320]</p>
                <p> <strong>classe</strong> : célula, <strong>confiança</strong> : 0.92, <strong>área</strong> : 1125, <strong>bbox</strong>: [320, 320, 320, 320]</p>
            </div>
        
            <div class="data-box">
                <div class="data-box-title">Tempo de processamento</div>
                <p>251.5 segundos</p>
            </div>

            <button type="submit" name="" >Baixar JSON dos dados</button>

        </div>

    {% else %}

    {% endif %}

    </section> 

    <script src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>

{% endblock %}