<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thresholding Segmentation</title>

    <!-- STATIC -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/threshold.css">
    <link rel="icon" href="../static/images/icon.png" type="image/png">

</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="header-content">
            <img src="../static/images/logo.png" alt="site logo" class="header-logo">
            <h1>
                <a href="{{ url_for('home') }}" class="home-title">SEGMENTADOR DE IMAGENS</a>
            </h1>
        </div>
    </header>

    <!-- IMAGE SEND SECTION -->
    <section id="image-send-section" class="image-send-section">
        <h2 class="section-title">SEGMENTAÇÃO POR LIMIARIZAÇÃO</h2>
    
        <!-- Divisão em duas colunas -->
        <div class="segment-container">

            <!-- Lado esquerdo: Exibição da imagem -->
            <div class="segment-left">
                {% if filename %}
                <!-- Exibe a imagem enviada -->
                <div class="image-container">
                    <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Imagem enviada" class="displayed-image">
                    <!-- Botão (x) para remover a imagem -->
                    <form action="{{ url_for('threshold') }}" method="GET">
                        <button type="submit" class="remove-button">✖</button>
                    </form>
                </div>
                {% else %}
                <!-- Formulário de upload -->
                <form id="upload-form" action="{{ url_for('threshold') }}" method="POST" enctype="multipart/form-data">
                    <div class="upload-area">
                        <label for="image-upload" class="upload-label">
                            + ADICIONAR IMAGEM
                            <input type="file" id="image-upload" name="file" accept=".png,.jpg,.jpeg" onchange="document.getElementById('upload-form').submit();">
                        </label>
                    </div>
                </form>
                {% endif %}
            </div>
    
            <!-- Lado direito: Configuração -->
            <div class="segment-right">
                <h3>Configuração</h3>
                <form id="config-form">
                    <div class="config-option">
                        <label for="threshold-value">Valor do Threshold:</label>
                        <input type="number" id="threshold-value" name="threshold-value" min="0" max="255" value="55">
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="apply-btn">ENVIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    

    <!-- IMAGE EXAMPLE SECTION -->
    <section id="example-section" class="example-section">
        <h2 class="section-title">EXEMPLO</h2>
        <div class="example-container">
            <div class="example-image">
                <img src="../static/images/thresholdingA.png" alt="Imagem original">
            </div>
            <div class="example-arrow">➡</div>
            <div class="example-image">
                <img src="../static/images/thresholdingB.png" alt="Imagem segmentada">
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <p>Projeto de Iniciação Científica PIBIC</p>
        <p>
            Desenvolvido por <a href="https://github.com/joao-victor-costa-gomes/" class="footer-link" target="_blank">João Victor da Costa Gomes</a>
        </p>
        <p>
            Confira o <a href="https://github.com/joao-victor-costa-gomes/Image-Segmentation-Site" class="footer-link" target="_blank">repositório</a> original do projeto
        </p>
    </footer>

</body>

</html>