<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thresholding Segmentation</title>

    <!-- STATIC -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/threshold.css">
    <link rel="icon" href="../static/images/icon.png" type="image/png">

</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="header-content">
            <img src="../static/images/logo.png" alt="site logo" class="header-logo">
            <h1>
                <a href="{{ url_for('home') }}" class="home-title">SEGMENTADOR DE IMAGENS</a>
            </h1>
        </div>
    </header>

    <!-- IMAGE SEND SECTION -->
    <section id="image-send-section" class="image-send-section">
        <h2 class="section-title">SEGMENTAÇÃO POR LIMIARIZAÇÃO</h2>

        <!-- Formulário de upload -->
        <form action="{{ url_for('threshold') }}" method="POST" enctype="multipart/form-data">
            <div class="upload-area">
                <label for="image-upload" class="upload-label">
                    + ADICIONAR IMAGEM
                    <input type="file" id="image-upload" name="file" accept=".png,.jpg,.jpeg">
                </label>
            </div>

            <!-- Mensagens de feedback -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Botão de envio -->
            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" class="submit-btn">Enviar Imagem</button>
            </div>
        </form>
    </section>


    <!-- IMAGE EXAMPLE SECTION -->
    <section id="example-section" class="example-section">
        <h2 class="section-title">EXEMPLO</h2>
        <div class="example-container">
            <div class="example-image">
                <img src="../static/images/thresholdingA.png" alt="Imagem original">
            </div>
            <div class="example-arrow">➡</div>
            <div class="example-image">
                <img src="../static/images/thresholdingB.png" alt="Imagem segmentada">
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <p>Projeto de Iniciação Científica PIBIC</p>
        <p>
            Desenvolvido por <a href="https://github.com/joao-victor-costa-gomes/" class="footer-link" target="_blank">João Victor da Costa Gomes</a>
        </p>
        <p>
            Confira o <a href="https://github.com/joao-victor-costa-gomes/Image-Segmentation-Site" class="footer-link" target="_blank">repositório</a> original do projeto
        </p>
    </footer>

    <script src="../static/js/threshold.js"></script>
</body>

</html>